<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Looks like you're leaving us, <%= @user.first_name + @user.last_name %></h1>
    <p>
      We are sorry to see you go <%= @user.fist_name  %>. 
    </p>
    <p>
      If you ever want to come crawling back to FlightPub again, just sign in at <%= @url %>, and your account will be reactivated.
    </p>
  </body>
</html>