@import url(http://fonts.googleapis.com/css?family=Hind:700,400);

body{
	width:100%;
	height:100%;
	margin: 0;	
	background-color: #1479C9;

	font-family: 'Hind', sans-serif;
}

/* Nav Bar */
#navbar-wrapper{
	width:100%;
	height:70px;
	background-color: #FBFBFB;
	z-index: 3;
}

#navbar{
	height:inherit;
	width:70%;
	margin: 0 auto;
}

#logo{
	float:left;
	margin-top:5px;
}

#logo img{
	width: 300px;
}

#login{
	float:right;
	padding-top:27px;
	padding-right:50px;
}

#login a{
	text-decoration: none;
	color:#797979;
	margin-left: 5px;
	margin-right: 5px;
}

#login a:hover{
	text-decoration: underline;
}

/* cross page */
#page-title{
	width: 90%;
	margin: 0 auto;
	margin-top: 25px;
	color: #fff;
}

#page-title-small{
	width: 70%;
	margin: 0 auto;
	margin-top: 25px;
	color: #fff;	
}



/* Search Bar */
#search-wrapper{  
	width: 100%;
	background-color: #17AEE5;
	margin-top: 50px;
}

#flight-search{
/*	height: inherit;
	margin: 0 auto;
	width:990px;*/

	height: inherit;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 10px;
	width: 990px;
}

.flight-search-box{
	font-size: 25px;
	color: #FFF;


	position: relative;
	display: inline-block;
}

.drop-down{
	position: absolute;
	top: 50px;
}

.suggestions-box{
	width: 325px;
	max-height: 220px;
	min-height: 36px;
	top: 10px;
	left: 10px;
	overflow: hidden;
	overflow-y:scroll;
	z-index: 10;
}

.suggestions{

}

.suggestions-box li{
	cursor: pointer;
}

.suggestions-box li:hover{
	background-color: #64D0F7;
}
.suggestions-box ul{
	margin-top: 4px;
	margin-bottom:4px;
	list-style: none;
	font-size: 17px;
	padding-left: 3px;
}

.arrow_box {
	position: relative;
	background: #47CEFF;
	border: 4px solid #ffffff;
}

.arrow_box.rounded{
	border:3px solid #fff;
}

.arrow:after, .arrow:before {
	bottom: 50px;
	left: 35px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow:after {
	border-color: rgba(71, 206, 255, 0);
	border-bottom-color: #FFF;
	border-width: 10px;
	margin-left: -10px;
}

@media screen and (max-width: 1100px){
	#flight-search{
		width: 610px;
	}

	.flight-search-box.place-input{
		width: 300px;
	}

	div.flight-search-box.seat-input{
		left:0px;
		bottom: 0px;
	}

	div.flight-search-box#search-button-wrapper{
		bottom: 20px;
		left: 150px;
	}
}

@media screen and (max-width: 570px) {
	#navbar #logo img{
		width: 270px;
	}
	div#footer-logo{
		width: 100%;
	}
	div#footer-logo img{
		width: 200px;
		margin-left:10%;
	}

	#navbar{
		width: 100%;
	}

	#flight-search{
		width: 90%;
		margin-left: 5%;
		padding-top:20px;
		padding-bottom:20px; 
	}

	.flight-search-box.place-input{
		display: block;
		width: 100%; 
	}

	div.flight-search-box#search-button-wrapper{
		bottom: 0px;
		left: 0px;
		margin-top: 20px;
		display: block;
	}
}

@media screen and (min-width: 1200px) { 
	.flight-search-box#left-box{
		
	}
}


.flight-search-box.seat-input{
	left:60px;
	bottom: 10px;
}

.flight-search-box .city-input{
	width: 80%;
	height:30px;
}

.flight-search-box #departure-date{
	margin-top: 20px;
	margin-bottom: 10px;
}

.flight-search-box #departure-date input{
	margin-left: 7px;
}

.flight-search-box #return-date{
	margin-top: 20px;
	margin-bottom: 10px;
}

.flight-search-box #return-date input{
	margin-left: 7px;
}

.flight-search-box .value-select{
	width: 100%;
	margin-top: 15px;
}

.flight-search-box#search-button-wrapper{
	bottom: 40px;
	left: 100px;
}

.flight-search-box #search-button{
	width:150px;
	height: 60px;
	background-color: #17AEE5;
	color:#FFF; 
	border-style: solid;
	border-width: 3px;
	border-color: #FFFFFF;
	bottom:40px;
	font-size: 18px;

}

#flight-search .arrow, .drop-down{
	display: none;
}

#search-button:hover{
	cursor: pointer !important;
	background-color: #EAC043;

}

/* My shitty admin table stuff! */
table, td, th {
    border: 1px solid green;
    border-collapse: collapse;
    padding: 5px;
    table-layout: fixed;
}

th {
    background-color: #17AEE5;
    color: white;
}


/* Style */

.rounded{
	border: 2px solid #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;

	-webkit-appearance: none;
}

input.rounded {
	border: 1px solid #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	font-size: 20px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}

input.rounded:focus {
	border-color: #339933;
}



/* Description */

#description-wrapper{
}

#description{
	height: 100%;
	width:70%;
	margin: 0 auto;
}

#description p{
	margin-bottom: 3px;
	margin-top: 176px;
	text-align: center;
	paddin-top: 10px;
	font-size: 28px;
	font-style: bold;
	color: #fff;
}

/* Footer */

#footer{
	width:100%;
}

#footer hr{
	width:70%;
}

#footer-logo{
	width:360px;
	margin: 0 auto;
}

/* Review */
#review-wrapper{
	margin-top: 40px;
	width: 100%;
	background-color: #fff;
}

#review{
	width: 70%;
	margin: 0 auto;
	display: block;
}

.review-top{
	width: 100%;
	height: 30px;
}

.review-middle{
	width: 100%;
	height: 100%;
	float: left;
}

.review-middle .direct {
	float: left;
	font-size: 20px;
}

.review-middle .arrive{
	width: 100%;
	height: 20px;
}

.depart{
	float:left;
	width: 100%;
}

.detail-time-label{
	float: left;
	margin-right: 5px;
}

.review-departure-time, .review-arrival-time{
	float:left;
}


.review-from{
	float: left;
	width: 100%;
}

.review-from .trip-from{
	font-size: 21px;
}

.review-from .from{
	padding-top: 6px;
	padding-right: 5px;
	color: #7C7C7C;
	float: left;
}

.review-to{
	float: left;
	width: 100%;
}

.review-to .trip-to{
	font-size: 21px;
}

.review-to .to{
	padding-top: 6px;
	padding-right: 5px;
	color: #7C7C7C;
	float: left;
}

.flight-review{
	width: 50%;
	min-height: 250px;
	margin: 0 auto;
}

.flight-review-inner{
	height: 50%;
	margin: 0 auto;
}

.flight-review-details{
	margin-left:30px;
}

.review-flightNumber{
	/* font-size: 20px; */
	width: 100px;
	/* line-height: 23px; */
	/* padding-top: 22px; */
	float: left;
}



.review-flight-time{
	width: 25%;
	height: 100%;
	float: left;
}

.review-flight-time .total-time{
	margin-top: 0px;
}

.review-direct{
	float: left;
	width: 100px;
	font-size: 16px;
	color: #868686;
}

.review-flightNumber .flight-number{
	font-size: 20px;
	font-weight: normal;
	width: inherit;
	line-height:inherit;
	padding-top: 0px;
}

.review-flight-price{  
	float: left;
	width: 100px;
	height: 100%;
	font-size: 20px;
	color: #58B600;
}

#purchase-flights{
	height: 100px;
	width: 155px;
	margin: 0 auto;
	margin-top: 70px;
}

#purchase-flights button{
	width: 155px;
	height: 50px;
	float:left;
	background-color: #7FF016;
	border: solid 3px #3EE013;
	font-size: 22px;
	color: #38A879;
}

#purchase-flights button:hover{
	cursor: pointer !important; 
}

#people-selection{

	background: transparent;
	width: 65px;
	padding: 5px;
	font-size: 16px;
	height: 30px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	border: 1px solid #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;


	background: url(/assets/glyphicons-44-group.png) 90% / 45% no-repeat #fff;
}

#class-selection{
	background: transparent;
	/* width: 120px; */
	/* padding: 5px; */
	/* font-size: 16px; */
	height: 30px;
	/* -webkit-appearance: none; */
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: url(/assets/plane.png) 99% / 14% no-repeat #fff;
}


.date-input{
	cursor: pointer;
	background: transparent;
	width: 126px;
	padding: 5px;
	font-size: 16px;
	height: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	border: 1px solid #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;


	background: url(/assets/glyphicons-46-calendar.png) 90% / 17% no-repeat #fff;	
}

/* Complete */
#purchase-complete{
	width:70%;
	height:100%;
	margin: 0 auto;
	width:100%;
	height: 200px;
	background-color: #17AEE5;
}

#purchase-complete p{
	text-align: center;
	font-size: 28px;
	font-style: bold;
	color: #fff;
}

#purchase-review {
	text-align: center;
	color: #fff;
}

a{
	color: #B9F016;
}



/* Flight Details */

#total{
	float: left;
	width: 160px;
	margin-top: 10px;
	margin-right: 10px;
	font-size: 20px;
	height: 100px;
}

#money{
	font-size: 26px;
	color: #00dd00;
	margin: 0 auto;
}

#total-title{
	font-size: 13px;
	font-weight: 700;
}

#filter{
	height: 30px;
	width: 130px;
	float: left;
	margin-left: 5px;
	padding-left: 5px;
}

.details-l1{  
	float: left;
	height: 100%;
	width: 18%;
}
.details-right{
	float:left;
	height: 100%;
	width: 28%;
}
.details-center{  
	float: left;
	height: 100%;
	width: 36%;
}

.details-l2{
	float: left;
	height: 100%;
	width: 17%;

}
.total-time{
	margin-top: 25px;
}

.total-time .time-img{
	float: left;
	padding-right: 8px;
	padding-top: 2px;
}

.total-time .time{
	float: left;
	font-size: 27px;
}

.flight-details{

}

.flight-details-inner{  
	/*width: 800px;*/
	height: 1px;
	display: none;
	margin-left: 165px;
}


.flight-select{
	width: 180px;
	margin-top: 8px;
}

.flight-select button{
	width: 180px;
	height: 49px;
	background-color: #A5FF68;
	color: #FFFFFF;
	border-width: 3px;
	border-color: #0FF200;
}

.extra-buttons-wrapper{
	width: 180px;
	padding-top: 7px;
}

.flight-compare{
	width: 80px;
	float: left;
	margin-left: 10px;
}

.flight-save{
	float: left;
}


.flight-save button{
	width: 75px;
	background-color: #FFFFFF;
	color: #6CD7FF;
	border-color: #6CD7FF;
}

.flight-compare button{
	width: 95px;	
	background-color: #FFFFFF;
	color: #6CD7FF;
	border-color: #6CD7FF;
}

.flight-number{
	font-size: 30px;
	font-weight: bold;
	width: inherit;
	line-height: 23px;
	padding-top: 22px;
}

.direct{
	color: #868686;
}

.trip{
	padding-top: 13px;
	font-size: 17px;
	width: 100%;
}

.trip-left{
	float:left;
	width: 45%;
}

.trip-right{
	float:left;
	width: 45%;

}

.grey{
	color: #868686;
}

.from{
	padding-top: 14px;
	padding-right: 5px;
	color: #7C7C7C;
	float: left;
}

.trip-from{
	font-size: 30px;
}
.trip-to{
	font-size: 30px;
}

.to{
	padding-top: 14px;
	padding-right: 5px;
	color: #7C7C7C;
	float: left;
}

.trip-times{
	line-height: 14px;
	width: 100%;
	float: left;
}

.trip-times .arrive{
	float: left;
	width: 45%;
	font-size: 10px;
}

.trip-times .depart{
	float: left;
	font-size: 10px;
	width: 45%;
}
.trip-times .detail-time-label{
	font-size: 13px;
}

/*TODO: move this somewhere better and factor out where it's repeated*/
.btn{
	border-style: solid;
	border-width: 2px;
	bottom: 40px;
	font-weight: bold;
	font-size: 12px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.btn:hover{
	cursor: pointer !important;
}

/* Ticket Styles */

#ticket-display{  
	float: left;
	height: 100%;
	width: 484px;
	overflow: hidden;
	position: relative;
}

#depart{
	float: left;
	width: 480px;
	height: 110px;
	overflow: hidden;
	background-color: #FFF;

	position: absolute;

}

#depart-small{
	display: none;
	position: relative;
	width: 50px;
	font-size: 12px;
	line-height: 15px;
	background-color: #D7D5F1;
	height: 110px;
	border-right:4px solid #17AEE5;
	padding-top: 5px;
}

#depart-small .arrow{
	font-size: 40px;
	width: 20px;
	margin-left: 18px;
	margin-top: 0px;

}

#depart-small .text-top{
	margin-left: 5px;
	margin-bottom: 5px;
	font-size: 9px;
}

#depart-small .text-bottom{
	margin-top: 7px;
	margin-left: 5px;
	font-size: 9px;
}

#depart-small:hover{
	background-color: #AFACD0;
	cursor: pointer;
}

#depart .ticket-info{
	width: 90%;
	float: left;
}


#return{
	width: 480px;
	height: 110px;
	//border-left: 4px solid #17AEE5;
	//border-right: 4px solid #17AEE5;
	overflow: hidden;
	background-color: #FFF;

	position: absolute;
	left: 100%;
}

#return .ticket-info{
	position: relative;
	top: -40px;
	width:480px;
	height: 110px;

}

#return .ticket-middle{
	position: relative;
	top: 40px;
	margin-left: 110px;
}

#return .ticket-top .ticket-price{
	margin-left: 350px;
}


#return .ticket-bottom{
	position: relative;
	top: 40px;
}

#return .ticket-bottom .flight-duration{
	margin-left: 370px;
}

#return .ticket-bottom .travel-stops{
	margin-left: 190px;	
}

.ticket-info .ticket-top{
	position: absolute;
	width: 480px;
	margin-top: 5px;
}

.ticket-top .ticket-title{
	position: absolute;
	margin-left: 20px;
	font-size: 24px;
	font-weight: 600;
}

.ticket-top .ticket-price{
	position: absolute;
	margin-left: 410px;
	font-size: 24px;
	color: #00dd00;
}

.ticket-middle{
	height: 30px;
	margin-left: 135px;
	margin-top: 40px;
	font-size: 22px;
}

.ticket-middle .start{
	position: absolute;
	margin-left: 30px;
}

.ticket-middle .arrow{
	position: absolute;
	margin-left: 90px;
	content: "\f008";
}

.ticket-middle .end{
	position: absolute;
	margin-left: 180px;
}

.ticket-bottom{
	margin-top: 10px;
	height: 40px;
	font-size: 16px;
}

.ticket-bottom .flight-times{
	position: absolute;
	margin-left: 20px;
}

.flight-times img{
	width: 20px;
	margin-right: 5px;
}

.ticket-bottom .travel-stops{
	position: absolute;
	margin-left: 200px;
}

.ticket-bottom .flight-duration{
	position: absolute;
	margin-left: 425px;
}

.flight-duration img{
	width: 19px;
	height: 21px;
}

#flight-select{
	height: 100%;
	float: left;
	width: 47px;
	background-color: #A1E5A9;

}

#flight-select:hover{
	background-color: #59EE6B;
	cursor: pointer;
}

#flight-select img{
	position: relative;
	top: 45px;
	left: 12px;
}

/* Flight Results */ 


#results{
	width:100%;
	min-width: 880px;
	background-color: #fff;
	margin-top: 0px;
}

#result-graph-wrapper{
	position: relative;
}

#result-graph{
	padding: 10px;
	padding-bottom: 35px;
	width: 90%;
	margin: 0 auto;
}

#result-graph-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	display: block;
	background-color: rgba(255, 255, 255, 0.86)
}

#result-graph-loader-img{
	z-index: 11;
}

#result-graph-loader-img img{
	z-index: 11;
	position: fixed;
	width: 185px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 300px;
}

#loader-text{
	z-index: 11;
	position: fixed;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 400px;
	font-size: 40px;
	color:#17AEE5;
}

.leg-details{
	padding-left: 5px;
	margin: 0px;
	/* margin-left: 10px; */
	padding-top: 10px;
	/* border: solid 1px rgba(195, 195, 195, 1); */
	height: 83px;
	width: 16%;
	float: left;
}

.leg-details .flight-number{

	font-size: 14px;
	font-weight: normal;
	width: 50%;
	float: left;
	line-height: 23px;
	padding-top: 0px;
}

.leg-details .airline-title, .flight-num-title{
	
	line-height: 26px;
	color: #7C7C7C;
	float: left;
	font-size: 14px;
	margin-right: 5px;
}

.leg-details .price{
  color: #36C50F;
  width: 35%;
  float: left;
  padding-left: 5%;
  padding-top: 0px;
  font-size: 15px;
  /* font-weight: bold; */
}

.leg-details .leg-departure, .leg-arrival{
	width: 50%;
	float:left;
}

.leg-details .leg-from-name, .leg-to-name{
	color: #7C7C7C;
	float:left;
	margin-right: 5px;
}

.leg-details .leg-from, .leg-to{
	font-weight: bold;
}



.result-item{
	width:100%;
	height: 50px;
	border-color: #fff;
	border-bottom: none;
	background-color: #47CEFF;
}

.result-item .airline{
	width: 30px;
	float: left;
}

.result-item .price{
	width: 130px;
	float: left;
}

.result-item .time-wrapper{
	height: inherit;
	margin-left: 160px;
	border-left: 2px solid #FFF;
	background-color: #17AEE5;
	overflow: hidden;
	//color: #17AEE5;
}

.result-item .time-wrapper .col{
	width: 2px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.2);
	position: relative;
	display: inline-block;
	top: -50px;
	pointer-events: none;
}

.result-item .time-wrapper:hover{
	cursor: pointer;
	background-color: #00A6E3;//#7BC5E0;//#1F96C2;
	color: #FFF;
}


.result-item .time-bar{
	width: 0%;
	position: relative;
	background-color: #EAC043;
	height:100%;
}

.result-item .time-bar:hover{
	color: #fff;
}

.result-item .time{
	text-align: center;
	float: left;
	z-index: 5;
	position: absolute;
	font-size: 13px;
	top: 15px;
	width: 60px;
	padding-left: 5px;
}

.result-item .time.flight-time{
	color: inherit;
}

.result-item .layover-time{
	font-size: 13px;
	width: 20px;
	line-height: 10px;
	top: 15px;

}

.result-item .layover{
	width: 0%;
	height: 100%;
	float: left;
	z-index: 4;
	background-color: rgba(255, 104, 0, 0.27);//rgba(255, 104, 0, 0.29);
	position: absolute;
	text-align: center;
	padding-top: 11px;
	line-height: 15px;
}


.layover .layover-time{
	display: none;
	pointer-events: none;
}

.layover{
	color: rgba(255, 104, 0, 0.0);
}

.layover:hover{
	color: #FFF;
}
.layover:hover > .time.layover-time{
	color: #FFF;
	display: block;
}

/* TODO: transition to color: #C8FF00; on selected */ 
.result-item .price-inner{
	font-size: 20px;
	color: #FFFFFF;
	font-size: 25px;
	margin-top: 7px;
	margin-left: 16px;
}

.airline .airline-image{
	margin-top: 10px;
	margin-left: 5px;
}


	/* Flight Results Hover 

	.non-zero-stops{
		background-color: #efefef;
		padding-left: 4px;
		padding-right: 4px;
		cursor: pointer;
	}

	#stops-info{
		display: none;
		position: absolute;
		background-color: #fff;
		top: 120px;
		max-width: 300px;
		margin-left: 48%;
	}

	.arrow_box {
		position: relative;
		background: #47CEFF;
		border: 4px solid #ffffff;
	}
	.arrow_box:after, .arrow_box:before {
		bottom: 100%;
		left: 10%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.arrow_box:after {
		border-color: rgba(71, 206, 255, 0);
		border-bottom-color: #FFF;
		border-width: 10px;
		margin-left: -10px;
	}
	*/
	/* Results Filter */

	#result-filters{
		width: 90%;
		margin: 0 auto;
	}

	#cheapest-first-filter:hover{
		/*background-color: #1479C9;
		color: #fff;*/
		cursor: pointer;
	}

	#cheapest-first-filter{
		margin-top: 10px;
		height: 36px;
		background-color: #fff;
		color: #17AEE5;
		border-style: solid;
		border-width: 2px;
		border-color: #17AEE5;
		bottom: 40px;

		font-weight: bold;
		font-size: 12px;

		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;

	}

	#shortest-first-filter:hover{
		/*background-color: #1479C9;
		color: #fff;*/
		cursor: pointer;
	}

	#shortest-first-filter{
		margin-top: 10px;
		height: 36px;
		background-color: #fff;
		color: #17AEE5;
		border-style: solid;
		border-width: 2px;
		border-color: #17AEE5;
		bottom: 40px;

		font-weight: bold;
		font-size: 12px;

		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}

	#no-stops-filter:hover{
		/*background-color: #1479C9;
		color: #fff;*/
		cursor: pointer;
	}

	#no-stops-filter{
		margin-top: 10px;
		height: 36px;
		background-color: #fff;
		color: #17AEE5;
		border-style: solid;
		border-width: 2px;
		border-color: #17AEE5;
		bottom: 40px;

		font-weight: bold;
		font-size: 12px;

		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}

	#max-stops-filter{
		margin-top: 10px;
		height: 36px;
		background-color: #fff;
		color: #17AEE5;
		border-style: solid;
		border-width: 2px;
		border-color: #17AEE5;
		bottom: 40px;

		font-weight: bold;
		font-size: 12px;

		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}

	#airline-filter{
		margin-top: 10px;
		height: 36px;
		background-color: #fff;
		color: #17AEE5;
		border-style: solid;
		border-width: 2px;
		border-color: #17AEE5;
		bottom: 40px;

		font-weight: bold;
		font-size: 12px;

		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;	
	}

	#stop-location-filter{

		margin-top: 10px;
		height: 36px;
		background-color: #fff;
		color: #17AEE5;
		border-style: solid;
		border-width: 2px;
		border-color: #17AEE5;
		bottom: 40px;

		font-weight: bold;
		font-size: 12px;

		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;		
	}

	#main-filters{
		display: inline-block;	
	}

	#advanced-filters{
		display: inline-block;	
	}

	/* sessions */

	#signup-wrapper{
		width:100%;
		background-color: #fff;

		margin-top:30px;
		height: 200px;
	}

	#signup{
		width: 70%;
		margin: 0 auto;
		height: 100%;
		padding-top: 15px;
		padding-bottom: 10px;
	}

	.loginSignup{
		width: 50%;
		min-width: 225px;
		margin: 0 auto;
		height: 100%;
	}

	.loginSignup form{
		margin: 0 auto;
		width: 50%;
	}
	
	.loginSignup form button{
		margin-top: 10px;
	}

	.loginSignup input {
		margin-top: 10px;
	}

	.loginSignup a{
		position: relative;
		color: #797979;
	}

	.loginSignup .btn.std-btn{
		background-color: #1479C9;
		color: white;
		margin-left: 96px;
	}

	.std-btn{
		width: 75px;
		background-color: #FFFFFF;
		color: #1479C9;
		border-color: #1479C9;
	}

	.std-btn:hover{
		background-color: #1479C9;
		color:white;
	}


	/* User Page */

	.full-page-white-wrapper{
		width:100%;
		background-color: #fff;
		/*margin-top:30px;*/
	}

	.full-page-white-center-50{
		width: 50%;
		margin: 0 auto;
		height: 100%;
		padding-top: 15px;
		padding-bottom: 10px;
	}

	.full-page-white-center{
		width: 70%;
		margin: 0 auto;
		height: 100%;
		padding-top: 15px;
		padding-bottom: 10px;
	}

	/* Admin Page */

	.admin-inside{
		margin-left: 30px;
	}
	
	.admin-inside-2{
		margin-left: 20px;
	}