<% require 'search/flight_search'%>
<h1>
	This is the flight search page.
	It will call methods from the search classes to create maaagic
</h1>

<% puts "Search page: I have loaded" %>
	
<h2> Speak! Speak my Search class!!</h2>
<h3><%= FlightSearch.speak %></h3>