<h3>About</h3>

<p>
    FlightPub, the latest in online holiday services, cater to a domestic and international clientelle. 
</p>
<p>
    We aim to craft a not only a service, a simple transaction, but also a user experience. 
</p>