<div id="navbar-wrapper">
	<div id="navbar">
		<div id="logo">{{#link-to 'index'}}<img src="assets/flightpub-logo.png">{{/link-to}}</div>
		<div id="login"><a href="#">Login</a></div>
	</div>
</div>

{{outlet}}

<div id="footer">
	<hr> 
	<div id="footer-logo"><img src="assets/flightpub-logo.png"></div>
</div>