<div id="navbar-wrapper">
	<div id="navbar">
		<div id="logo">{{#link-to 'index'}}<img src="assets/flightpub-logo.png">{{/link-to}}</div>
        {{# if isAuthenticated}}
            <div id='TO_BE_FILLED'> {{#link-to 'secret'}}TEST AUTH{{/link-to}} </div>
             <div id='TO_BE_FILLED_2'> <a href="#" {{action "logout"}} >Logout</a> </div>
        {{/if}}
		<div id="login">{{#link-to 'sessions.index'}}Login{{/link-to}}</div>
	</div>
</div>

{{outlet}}

<div id="footer">
	<hr> 
	<div id="footer-logo"><img src="assets/flightpub-logo.png"></div>
</div>