<div id="navbar-wrapper">
	<div id="navbar">
		<div id="logo">{{#link-to 'index'}}<img src="assets/flightpub-logo.png">{{/link-to}}</div>
        
		<div id="login">
        {{# if isAuthenticated}}
             {{#link-to 'profile'}}Profile{{/link-to}}            
             <a href="#" {{action "logout"}} >Logout</a>
             {{else}}
            {{#link-to 'sessions.index'}}Login{{/link-to}}
        {{/if}}
        </div>
	</div>
</div>

{{outlet}}

<div id="footer">
	<hr> 
	<div id="footer-logo"><img src="assets/flightpub-logo.png"></div>
</div>