<div id="purchase-complete">
	<p>Purchase Complete.</p>
	<p> We hope you enjoy your trip :)</p>
	<div id="purchase-review">
		You can review the purchase on your {{#link-to 'profile'}}user page{{/link-to}} 
	</div>
</div>
