<!-- NEED TO CREATE A MODEL 

	we need a model for the resuls which we can itterate over.

	then we can remove all this duplication stuff
-->

<!-- 
	TODO: I have to add some things:
		- accordian for flight ticket info stuff
		- flight filters
-->
{{outlet}}

<div id="top-row-anchor">
		
	</div>
	<!-- <div id="results-top-row">
		<div id="top-row-inner">
			<div id="total">
				<div id="total-title">Total:</div>
				<div id="money">$100,000,000</div>
			</div>

			<div id="ticket-display">
				<div id="depart">
					<div id="depart-small">
						<div class="text-top">Depart</div>
						<div class="arrow"><img src="images/ticket-back.png"></div>
						<div class="text-bottom">Depart</div>
					</div>
					<div class="ticket-info">
						<div class="ticket-top">
							<div class="ticket-title">
								Depart
							</div>
							<div class="ticket-price">
								$9999
							</div>
						</div>
						<div class="ticket-middle">
							<div class="start">SYD</div>
							<div class="arrow"> -> </div>
							<div class="end">HKG</div>  
						</div>
						<div class="ticket-bottom">
							<div class="flight-times">
								<img src="png/glyphicons-58-history.png"><span class="bottom-text">9am - 5pm</span>
							</div>
							<div id="stops1" class="travel-stops non-zero-stops"> 2 stops </div>
							<div class="flight-duration">
								<img src="png/glyphicons-56-stopwatch.png">
								<span class="bottom-text">8h</span> 
							</div>
						</div>
					</div>
				</div>
				<div id="return">
					<div class="ticket-info">
						<div class="ticket-top">
							<div class="ticket-title">Return</div>
							<div class="ticket-price">
								$9999
							</div>
						</div>
						<div class="ticket-middle">
							<div class="start">HKG</div>
							<div class="arrow"> <-- </div>
							<div class="end">SYD</div>  
						</div>
						<div class="ticket-bottom">
							<div class="flight-times"><img src="png/glyphicons-58-history.png">9am - 5pm</div>
							<div id="stops2" class="travel-stops"> no stops </div>
							<div class="flight-duration">
								<img src="png/glyphicons-56-stopwatch.png"> 8h 
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="flight-select">
				<img src="png/glyphicons-207-ok-2.png">
			</div>
		</div>
		<div id="stops-info" class="arrow_box">
			Columbia, Singapore, Gauntanamo, Other stuff with more
		</div>
	</div>
	-->

	