






    <div id="results">
        <div id="result-graph-wrapper">
            <div id="loader" style="display:block;">
                <div id="result-graph-overlay">

                </div>
                <div id="result-graph-loader-img">
                    <img src="assets/loader.gif">
                    <div id="loader-text">
                        Loading
                    </div>
                </div>
            </div>

</div>
</div>
