
{{outlet}}


<!-- TODO:

        - show promotions
                either create a new promotions section or do what people were 
                suggesting where we slash the price or something

        - accordian for displaying flight details
                need to display:
                    - flight price
                    - from and to
                    - legs of the flight
                    - time (total + depart/arrive)


        - show whether page is for Departure or Return (maybe just a title?)

        - no results display (can be an else after the #each)
    -->


    <h1 id="page-title">{{pageTitle}}</h1>

     <div id="result-graph-loader-img">
                    <img src="assets/loader.gif">
                    <div id="loader-text">
                        Loading
                    </div>
                </div>

    <div id="results">
        <div id="result-graph-wrapper">
            <div id="loader" style="display:block;">
                <div id="result-graph-overlay">

                </div>
               
            </div>

</div>
</div>