<div id="review-wrapper">
	<div id="review">

		<h1>Review</h1>
		<div class="flight-review">
			<h2>Departure</h2>
			<div class="price">$9999</div>

			<div class="from">SYD</div>
			<div class="depart-time">9am Sat 16th May</div>
			
			<div class="number-of-stops">3 Stops:</div>
			<div class="stops-list">
				<ul>
					<li>MLB</li>
					<li>JFK</li>
					<li>LUX</li>
				</ul>
			</div>
			
			<div class="to">PAR</div>
			<div class="arrive-time">10am Mon 17th May</div>
			
			<div class="total-time">49 hours</div>
		</div>

		<!-- note this is optional, need to have a flag in models -->
		<div class="flight-review">
			<h2>Return</h2>
		</div>


		<div id="purchase-flights">
			<button class="rounded">Purchase</button>
		</div>
	</div>
</div>