<div id="user-info" class="full-page-white-wrapper">
	{{user.email}}
	<div class="full-page-white-center-50">

		<div id="purchased-flights">
			{{#if upcomingFlights}}
			<div id="upcoming">
				<h2>Upcoming Flights</h2>
				<div class="flight">
					<ul>
						<li>Departure: hh:mm am dd/mm/yy</li>
						<li>SYD to HGK, layover in SIN</li>
						<li>Return: hh:mm pm dd/mm/yy</li>
						<li>HGK to SYD, layover in SIN</li>
						<li>Airline: Emirates</li>
						<li>Plane: A380</li>
						<li>Class: Economy</li>
						<li>Cost: $20.00</li>
						<li>Paid on: 5/04/2015</li>
						<li>Tasnaction ID: 201230231</li>
					</ul>

					<div class="cancel">Cancel Flight</div>
				</div>
			</div>
			{{/if}}
			
			{{#if previousFlights}}
			<h2>Previous Flights</h2>
			<div class="flight">
				<ul>
					<li>Departure: hh:mm am dd/mm/yy</li>
					<li>SYD to HGK, layover in SIN</li>
					<li>Return: hh:mm pm dd/mm/yy</li>
					<li>HGK to SYD, layover in SIN</li>
					<li>Airline: Emirates</li>
					<li>Plane: A380</li>
					<li>Class: Economy</li>
					<li>Cost: $20.00</li>
					<li>Paid on: 5/04/2015</li>
					<li>Tasnaction ID: 201230231</li>
				</ul>
			</div>
			<div id="see-more-prev-flights">more</div>
			{{/if}}
		</div>

		{{#if savedFlights}}
		<div id="saved-flights"><h2>Saved Flights</h2></div>
		
		{{/if}}

		<div id="settings">
			<h2>Settings</h2>
			<!-- here we will have the settings form which can be updated asynchronously -->
			<form>
				<input type="text" >
				<input type="text">
			</form>
		</div>
		
	</div>
</div>