<!-- Index listing for the 'flights' -->
<!-- This is essential as certain things that are created by ember expect their
own templates and routes and what not -->
{{#each item in model}}
    <div>FlightNumber: {{item.flightNumber}} Price:${{item.price}}</div>
{{/each}}